* {
	background: #fff;
	font-family: "Lucida Grande", sans-serif;
}

/* Header */

h1 {
	font-size: 48px;
	text-align: center;
	color: #666;
	margin-top: 45px;
	margin-bottom: 30px;
}

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: bold;
	word-spacing: 0;
	margin-top: 0;
	margin-bottom: 30px;
}

/* Content */

.image {
	margin-bottom: 30px;
}

/* Text in the left area */
.text-left {
	padding: 30px;
	border: 1px solid #ccc;
}

/* Bulletpoints in the lower left area */
.bullet-points {
	color: #666;
	border-top: 0;
	font-size: 16px;
	line-height: 200%;
	padding: 0 40px 0;
}

/* Text in the main right area */
.text-area {
	color: #666;
	margin: 0 0 10px;
	line-height: 200%;
	text-align: left;
	font-size: 16px;
}